{% extends 'index.html' %}
{% load staticfiles %}

        <a class="btn-floating btn-large waves-effect waves-light #26a69a add btn tooltipped" data-position="left" data-delay="50" data-tooltip="Add a Book" href="{% url 'add-book' %}"><i class="mdi-content-add"></i></a> 
    <div class="search-box">
        <form>
            <div class="input-field">
                <input id="filter" type="text" value="" required>
                <span id="filter-count"></span>
                <label for="filter"><i class="mdi-action-search"></i></label>
            </div>
        </form>
    </div>
{% block content %}
    <!--<a class="btn-floating btn-large waves-effect waves-light #26a69a add btn tooltipped" data-position="left" data-delay="50" data-tooltip="Add a Book" href="{% url 'add-book' %}"><i class="mdi-content-add"></i></a>-->
    <div class="search-box">
        <form>
            <div class="input-field">
                <input id="filter" type="text" value="" required>
                <span id="filter-count"></span>
                <label for="filter"><i class="mdi-action-search"></i></label>
            </div>
        </form>
    </div>

    <div class="jobs-container">
        <table class="striped responsive hoverable">
            <thead>
                <th>TITLE</th>
                <th>AUTHOR</th>
                <th>CATEGORY</th>
                <th>QUANTITY</th>
                <th>AVAILABLE</th>
            </thead>
            <tbody>
                {% for book in object_list %}   
                    <tr class='list'>
                        <td><a href="/detail/{{book.id}}"><p class="truncate">{{book.title}}</p></a></td>
                        <td>{{book.author}}</td>
                        <td>{{book.category}}</td>
                        <td>{{book.quantity}}</td>
                        <td>{{book.num_book_available}}</td>
                        <td><a href= "{% url 'borrow-book' %}"><button class="waves-effect waves-light btn-small ">lend</button></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
<div><a class="waves-effect waves-light btn-large borrow btn tooltipped" data-position="right" data-delay="50" data-tooltip="Add a Book"  href="{% url 'add-book' %}">Add a Book</a></div> 
{% endblock content %}
