{% extends 'index.html' %}
{% load staticfiles %}

  {% block content %}
    <div id="message">  
        {% if messages %}
            <ul id="li">
                {% for message in messages %}
                    <div class="row">
                        <div class="col s12 m5 fin">
                            <div class="card-panel #26a69a accent-3 teal-card">
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><h6 class="main-message">{{book.title}} {{ message }}</h6></li>
                            </div>   
                        </div>  
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="book-container">
     {% if request.user.is_admin %}
        <table class="striped responsive hoverable">
            <thead>
                <th>TITLE</th>
                <th>AUTHOR</th>
                <th>CATEGORY</th>
                <th>QUANTITY</th>
                <th>AVAILABLE</th>
            </thead>
            <tbody>
                {% for book in object_list %}   
                    <tr class='list'>
                        <td><a href="/detail/{{book.id}}"><p class="truncate book-name"><b>{{book.title}}</b></p></a></td>
                        <td>{{book.author}}</td>
                        <td>{{book.category}}</td>
                        <td>{{book.quantity}}</td>
                        <td>{{book.num_book_available}}</td>
                        {% if book.num_book_available >= 1 %}
                            <td>
                                <a href="/borrow/{{book.id}}" class="btn-floating btn-small waves-effect waves-light modal-trigger tooltipped" data-tooltip="Lend this Book" data-position="right">
                                  <i class="fa fa-share"></i>
                                </a>
                            </td>
                        {% else %}
                            <td><p type="text" disabled>unavalable</p></a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <a class="waves-effect waves-light btn-large borrow btn tooltipped add-butt" 
    data-position="left" data-delay="50" data-tooltip="Add a Book"  href="{% url 'add-book' %}">Add a Book</a>
    {% else %}
         <table class="striped responsive hoverable">
            <thead>
                <th>TITLE</th>
                <th>AUTHOR</th>
                <th>CATEGORY</th>
                <th>AVAILABLE</th>
            </thead>
            <tbody>
                {% for book in object_list %}   
                    <tr class='list'>
                        <td><a href="/detail/{{book.id}}"><p class="truncate book-name"><b>{{book.title}}</b></p></a></td>
                        <td>{{book.author}}</td>
                        <td>{{book.category}}</td>
                        <td>{{book.quantity}}</td>
                        <td>{{book.num_book_available}}</td>
                        {% if book.num_book_available >= 1 %}
                            <td>
                                <a href="/borrow/{{book.id}}" class="btn-floating btn-small waves-effect waves-light modal-trigger tooltipped" data-tooltip="Lend this Book" data-position="right">
                                  <i class="fa fa-share"></i>
                                </a>
                            </td>
                        {% else %}
                            <td><p type="text" disabled>unavalable</p></a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
  </div>
  {% endblock content %}
  
{% block local_js %}
 <script>
 $(document).ready(function(){
      setTimeout(function() {
           $('#message').fadeOut('slow');
        }, 1000);
});
 </script>
{% endblock %}
