{% extends 'index.html' %}
{% load staticfiles %}

{% block title %}
    Andela Library
{% endblock title %}
        
{% block content %}
  
<div class="jobs-container">

    <table class="striped responsive hoverable">
        <thead>
            <th>TITLE</th>
            <th>AVAILABLE</th>
            <th>BORROWER</th>
        </thead>
        <tbody>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><h2>{{ message }}</h2></li>
                {% endfor %}
                <li>
                    <a href="/book-status/" class="grp-state-focus" class="addlink">Close</a>
                </li>
            </ul>
            {% endif %}
            {% for book in object_list %}  
                <tr class='list'>
                    <td><a href="book-detail"><p class="truncate">{{book.book}}</a></p></td> 
                    <td>{{book.num_book_available}}</td>
                    <td>{{book.borrower}}</td>
                </tr>
            {% endfor %}
       
        </div>
        </tbody>
    </table>
</div>
{% endblock content %}
