{% extends 'index.html' %}
{% load staticfiles %}

{% block title %}
    Andela Library
{% endblock title %}
        
{% block content %}
  
<div class="jobs-container">

    <table class="striped responsive hoverable">
        <thead>
            <th>TITLE</th>
            <th>AVAILABLE</th>
            <th>BORROWER</th>
        </thead>
        <tbody>
            
            {% for book in object_list %}  
                <tr class='list'>
                    <td><a href="book-detail"><p class="truncate">{{book.book}}</a></p></td> 
                    <td>{{book.num_book_available}}</td>
                    <td>{{book.borrower}}</td>
                </tr>
            {% endfor %}
       
        </div>
        </tbody>
    </table>
</div>
{% endblock content %}
