{% extends 'index.html' %}
{% load staticfiles %}
{% load endless %}


{% block title %}
    Andela Library
{% endblock title %}
        
{% block content %}
<div class="jobs-container">

    <table class="striped responsive hoverable">
        <thead>
            <th>TITLE</th>
            <th>DUE DATE</th>
            <th>BORROWER</th>
        </thead>
        <tbody>
            {% paginate object_list %}
            {% for book in object_list %}  
                <tr class='list'>
                    <td><a href="/book-detail/{{book.id}}"><p class="truncate">{{book.book}}</a></p></td> 
                    <td>{{book.due_date}}</td>
                    <td>{{book.borrower}}</td>
                </tr>
            {% endfor %}
            {% get_pages %}
{{ pages.current_start_index }}-{{ pages.current_end_index }} of
{{ pages.total_count }}.
<div class="page3">
    {{ pages.previous }} {{ pages.next }}
</div>
       
        </div>
        </tbody>
    </table>
</div>
{% endblock content %}
