{% extends 'index.html' %}
{% load staticfiles %}

<div class="search-box">
    <form class="search-form">
        <div class="input-field">
            <input id="filter" type="text" value="" required>
            <span id="filter-count"></span>
            <label for="filter"><i class="mdi-action-search"></i></label>
        </div>
    </form>
</div>

{% block content %}

    <div id="message">  
        {% if messages %}
            <ul id="li">
                {% for message in messages %}
                    <div class="row">
                        <div class="col s12 m5 fin">
                            <div class="card-panel teal accent-3 teal-card">
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><h6 class="main-message">{{book.title}} {{ message }} {{form.borrower.value}}</h6></li>
                            </div>   
                        </div>  
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="search-box">
        <form>
            <div class="input-field">
                <input id="filter" type="text" value="" required>
                <span id="filter-count"></span>
                <label for="filter"><i class="mdi-action-search"></i></label>
            </div>
        </form>
    </div>


    <div class="jobs-container">
        <table class="striped responsive hoverable">
            <thead>
                <th>TITLE</th>
                <th>AUTHOR</th>
                <th>CATEGORY</th>
                <th>QUANTITY</th>
                <th>AVAILABLE</th>
            </thead>
            <tbody>
                {% for book in object_list %}   
                    <tr class='list'>
                        <td><a href="/detail/{{book.id}}"><p class="truncate">{{book.title}}</p></a></td>
                        <td>{{book.author}}</td>
                        <td>{{book.category}}</td>
                        <td>{{book.quantity}}</td>
                        <td>{{book.num_book_available}}</td>
                        {% if book.num_book_available >= 1 %}
                            <td><a href="/borrow/{{book.id}}" class="waves-effect waves-light" ><button>lend</button></a></td>
                        {% else %}
                            <td><a href="#"><button type="button" disabled>unavalable</button></a></td>
                        {% endif %}
                    </tr>

                      <!-- Modal Structure -->
                      <!--<div id="modal{{book.id}}" class="modal">
                        <div class="modal-content">
                          <h4>{{book}}</h4>
                          <form class="book-add" method="post" action="/lend/{{book.id}}/">
                          {% csrf_token %}
                            <label for='title'>Book</label>
                            <input type='text' name='title' value='{{book.title}}' id='title'>

                            <label for='borrower'>Borrower</label>
                            {{form.borrower}}

                            <label for='returned_date'>Return Date</label>
                            <input type='date' name='returned_date' value='{{book.returned_date}}' id='return' />

                            <label for='due_date'>Due Date</label>
                            <input type='date' name='due_date' value='{{book.due_date}}' id='due' />

                            <div>
                              <button class="btn waves-effect waves-light" type="submit" name="action">Lend Book<i class="mdi-content-send right"></i></button>
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <a href="/home/" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
                        </div>
                      </div>-->
                    {% endfor %}
                </tbody>
            </table>
        </div>


<div id="add-button"><a class="waves-effect waves-light btn-large borrow btn tooltipped" data-position="left" data-delay="50" data-tooltip="Add a Book"  href="{% url 'add-book' %}">Add a Book</a></div> 
{% endblock content %}

{% block local_js %}
 <script>
 $(document).ready(function(){
      setTimeout(function() {
           $('#message').fadeOut('fast');
        }, 3000);
});
 </script>
{% endblock %}
