{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>
        {% block title %}
            Andela Library
        {% endblock title %}
    </title>
    {% block styling %}
        <link rel="stylesheet" type="text/css" href="{% static 'styles/reset.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'materialize/css/materialize.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'styles/chosen.css' %}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    {% endblock %}
</head>
<body>
    <div id="wrapper">
        <header>
            <ul id="dropdown1" class="dropdown-content">
                <li class='drop-down'><a href="{% url 'add-book' %}">Add a Book</a></li>
                <li class='drop-down'><a href="{% url 'booklease-list' %}">Track Books</a></li>
                <li class="divider"></li>
                <li class='drop-down'><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
            <nav class = "navbar">
                <div class="wrapper" style="margin-right: 194px; padding-top: 32px;">
                    <a href="{% url 'book-list' %}"><h3 id="folay">Folay</h3></a>
                    <ul>
                        {% if request.user.is_authenticated %}
                            
                            <li><a href="{% url 'book-list' %}">Home</a></li>
                            <li><a href="#" class='dropdown-button' data-beloworigin="true" data-activates='dropdown1' style="text-transform: capitalize;">{{ request.user.username }}<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
                            <ul id='dropdown1' class='dropdown-content'>

                            </ul>
                        {% else %}
                            <li><a href="{% url 'login' %}">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>
            {% block content %}
                <div id="home-content">    
                    <div class="home-body">
                        <p class="flow-text">
                            "A library is the delivery room for the birth of ideas, </br>a place,</br> where history comes to life." 
                        </p>  
                        <br />
                        <a class="waves-effect waves-light btn visit" href="{% url 'login' %}"><i class="mdi-action-exit-to-app right"></i>Visit</a>
                    </div>
                </div>
            {% endblock %}         
            {% block footer %} 
             <div id="footer">         
              <footer class="footer">
                <div class="footer-text">
                  <div class="footer-container">
                    Made in <strong>Lagos </strong>by Andela Fellows.
                  </div>
                </div>
              </footer>
            </div>
            {% endblock %}
    </div>

    {% block javascript %}
        <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'materialize/js/materialize.js' %}"></script>
    {% endblock %}
    <script type="text/javascript" src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/chosen.jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/common.js' %}"></script>

    {% block local_js %}
        
    {% endblock local_js %}
</body>
</html>