{% extends "index.html" %}
{% block content %}
<div class="col s12 m3 l12 login-card">
    <div class="card add-book-card">
        <div class="card-content">
        <h4>Add Book</h4>
        <div class="add-form">
          <form class="book-add" method="post">
          {% csrf_token %}
            <label for="id_title">Book Title: </label>
            <input id = "id_title" type="text" name="title" value="{{ current_title }}">
            <label for="id_quantity">Book Quantity: </label>
            <input id = "id_quantity" type="number" name="quantity" value="{{ current_quantity }}">
            <label for="id_author">Book Author: </label>
            <input id = "id_author" type="text" name="author" value="{{ current_author }}">
            <label for="id_source">Source Name: </label>
            <input id = "id_source" type="text" name="source" value="{{ current_source }}">
            <label for="id_isbn_number">Books ISBN: </label>
            <input id = "id_isbn_number" type="text" name="isbn_number" value="{{ current_isbn_number }}">
            <label for="id_category">Book Category: </label>
            <input id = "id_category" type="text" name="category" value="{{ current_category }}">
            <label for="id_date_recieved">Date Recieved: </label>
            <input id = "id_date_recieved" type="date" name="date_recieved" value="{{ current_date_recieved }}">
            <button class="btn waves-effect waves-light" type="submit" name="action">Add Book
              <i class="mdi-content-send right"></i>
            </button>
          </form>
        </div>
        </div>
    </div>  
</div>
{% endblock content %}