{% extends "index.html" %}
{% block content %}
<div class="col s12 m3 l12 login-card">
    <div class="card add-book-card">
        <div class="card-content">
        <h4>Add Book</h4>
        <div class="add-form">
          <form class="book-add" method="post">
          {% csrf_token %}
            <input type="hidden" name="id" value="{{book.id}}" />
            <label for="id_title">Book Title: </label>
            {{form.title.errors}}
            <input id = "id_title" type="text" name="title" value="{{ current_title }}">
            <label for="id_quantity">Book Quantity: </label>
            {{form.quantity.errors}}
            <input id = "id_quantity" type="number" name="quantity" value="{{ current_quantity }}">
            <label for="id_author">Book Author: </label>
            {{form.author.errors}}
            <input id = "id_author" type="text" name="author" value="{{ current_author }}">
            <label for="id_source">Source Name: </label>
            {{form.source.errors}}
            <input id = "id_source" type="text" name="source" value="{{ current_source }}">
            <label for="id_isbn_number">Books ISBN: </label>
            {{form.isbn_number.errors}}
            <input id = "id_isbn_number" type="text" name="isbn_number" value="{{ current_isbn_number }}">
            <label for="id_category">Book Category: </label>
            {{form.category.errors}}
            <input id = "id_category" type="text" name="category" value="{{ current_category }}">
            <label for="id_date_recieved">Date Recieved: </label>
            {{form.date_recieved.errors}}
            <input id = "id_date_recieved" type="date" name="date_recieved" value="{{ book.date_recieved }}">
            <div>
                <button class="btn waves-effect waves-light add-button" type="submit" name="action">Add Book
                  <i class="mdi-content-send right"></i>
                </button>
                <a href="/home/" class="cancel">Cancel</a>  
            </div>
          </form>
        </div>
        </div>
    </div>  
</div>
{% endblock content %}

{% block local_js %}
    
    <script type="text/javascript">
        $(document).ready(function() {
             var date = new Date()
             var get_book_date = date.toISOString().substring(0, 10),
             recieve = document.querySelector('#id_date_recieved');
             recieve.value = get_book_date;
        });
    </script>
{% endblock local_js %}