{% extends "index.html" %}
{% block content %}
<div class="col s12 m3 l12 login-card">
    <div class="card add-book-card">
        <div class="card-content">
            <h4>Lend Book</h4>
            <div class="add-form">
                <form class="book-add" method="post">
                   {% csrf_token %}
                   <!--<style>select { display: block; }</style>-->
                   {{ form }}
                    <label for="id_borrowed_date">Date Borrowed: </label>
                    <input id = "id_borrowed_date" type="date" name="borrowed_date" value="{{ current_borrowed_date }}">
                    <label for="id_due_date">Due Date: </label>
                    <input id = "id_due_date" type="date" name="due_date" value="{{ current_due_date }}">
                   <button class="btn waves-effect waves-light" type="submit" name="action">Lend Book
                  <i class="mdi-content-send right"></i>
                </button>
                </form> 
            </div>
        </div>
    </div>   
</div>
{% endblock content %}
