{% extends "index.html" %}
{% block content %}
<div class="col s12 m3 l12 login-card">
    <div class="card add-book-card">
        <div class="card-content">
            <h4>Lend Book</h4>
            <div class="add-form">
                <form class="book-add" method="post">
                   {% csrf_token %}
                   {{ form }}
                   <button class="btn waves-effect waves-light lend-button" type="submit" name="action">Lend Book
                  <i class="mdi-content-send right"></i>
                </button>
                </form> 
                <div class="modal-footer">
                  <a href="/home/" class=" modal-action modal-close waves-effect waves-green btn-flat cancel">Cancel</a>
                </div>
            </div>
        </div>
    </div>   
</div>
{% endblock content %}
{% block local_js %}
{% endblock local_js %}