{% extends "base.html" %}
{% load staticfiles %}

{% block img %}
{% endblock %}


{% block side %}
    <!--<div class="row">
        <div class="col s3">
            <ul class="side">
            {# {% for book in object_list %}  #}
                {# <li>{{book.category}}</li> #}
                <h4><li>Categories</li></h4>
            {# {% endfor %} #}
            </ul>
        </div>
    </div>-->
{% endblock %}


<div class="col s9 books">
    {% block content %}

    {% endblock content %}
</div>
{% block scripts %}
<script>
$(document).ready(function() {
  // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
  $('.modal-trigger').leanModal();
});
</script>
{% endblock %}
