{% extends 'index.html' %}

{% block img %}
{% endblock %}

{% block search %}
{% endblock %}

{% block content %}
    <div class="row login-page">
    <div class="col s12 m3 l6 login-card">
        <div class="card login-card-form">
          <div class="card-content black-text">
              <div class="form-wrapper center-align">
                <h4>Sign In</h4>

                {% if form.errors %}
                  <p class="'error">Sorry, invalid username or password</p>
                {% endif %}

                <form class="col s12 m12 l12 #26a69a login-form" action="{% url 'auth-user' %}" method="POST">
                {% csrf_token %}
                
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="username" type="text" class="validate username" name="username">
                      <label for="username">Username</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <input id="password" type="password" class="validate password" name="password">
                      <label for="password">Password</label>
                    </div>
                  </div>
                    
                     <button class="btn waves-effect #26a69a lighten-2 waves-light login-botton" type="submit" name="action" value="login">Login
                        <i class="mdi-content-send right"></i>
                    </button>
                </form>
              </div>
          </div>

        </div>
    </div>
  </div>
{% endblock %}