{% extends "index.html" %}
{% block img %}
{% endblock %}
{% block search %}
{% endblock %}
{% block content %}
    <div class="col s12 m12 l9">
        <div class="row">
            <div class="card success">
                <div class="card-content black-text">
                    <div class="card-title center-align grey-text text-darken-3">
                      <h4 class="red-text text-lighten-2"> {{form.title.value}} Has Been Successfully Added</h4>
                    </div>
                </div>
                <div><a class="view" href="{% url 'book-index' %}">View Books</a></div>

            </div>
        </div>
    </div>
{% endblock %}