.navbar {
  background-color: #5A0206 !important;
}

nav ul {
    margin-right: -13% !important;
}

#filter {
  width: 60%;
  /*margin-left: 10%;*/
  margin-top: 1%;
}

.input-field {
  margin-left: 30%;
  margin-top: 50%;
}

.book-add {
  width: 450px;
}

.image {
  height: 520px !important;
  width: 100%;
}

.add {
  position: fixed !important;
  margin-left: 90%;
  margin-top: 20px;
}
.add-form {
  width: 50% !important;
  margin-left: 25%;
}

.cancel {
  margin-left: 90%
}

.del {
  margin-left: 112%;
  margin-top: 20px;
}

.del-modal {
    top: 40% !important;
}

.modal-content {
  margin-right: 150px !important;
}

.modal-header {
  color: rgb(90, 88, 88);
}

.side {
  margin-top: 30%;
  line-height: 50px
}

.add-book-card {
  width: 75%;
}

.success {
  margin-top: 10% !important;
  width: 50%;
  margin-left: 25% !important;
  height: 200px;
}

.view {
  position: relative;
  margin-left: 45%;
}

h4 {
  text-align: center;
  margin-left: 31% !important;
  line-height: 3rem !important;
}

.login-card {
   margin-left: 25% !important;
}

.books {
  margin-top: 7%;
  max-height: 100%;
}

.book-detail {
  margin-left: 25% !important;
  line-height: 25px;
}

h1 {
  text-align: center;
  margin-left: 100px !important;
}

.card-title {
  font-weight: 400 !important;
  font-size: 30px !important;
  color: red;
}

p {
  /*line-height: 1.5rem;*/
  padding: 5px;
}

.links {
  margin-left: 30px;
  text-align: center;
  width: 500px;
}

.book-action {
  margin: 0 !important;
}

.card-content {
  margin-right: 150px;
}

.borrow {
  margin-top: 150px;
}

.footer {
  width:100%;
  height:60px;
  position:relative;
  /*margin-top: 70px;*/
  bottom:0;
  left:0;
  background-color: #5A0206;
}

.footer-text {
  margin: 0;
  color: #fff;
}

.container {
  text-align: center;
}
