html, body {
  height: 100%;
  margin: margin: 0 0 100px;
  padding: 0;
}

.login-card {
   margin-left: 19% !important;
}

.login-card-form {
  margin-top: 15% !important;
  width: 125%;
}

.login-form {
  height: 250px;
  margin-left: 75px !important
}

.login-botton {
  margin-top: 25px;
  color: #fff !important;
}

.both-buttons {
  margin-top: 45px !important;
  min-width: 139%
}

.username .password {
  width: 30% !important;
  margin-right:20px;
}

.navbar {
  background-color: #5A0206 !important;
  line-height: 7px;
}

nav ul {
    margin-right: -13% !important;
}

#folay-wrapper {
  padding-top: 20px;
}

#folay {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 73px;
  font-size: 23px;
  line-height: 0;
  font-family: sans-serif;
}

.drop-down a {
  color: #424242 !important;
  font-size: 15px;
  font-style: bold;
}

#filter {
  width: 60%;
  margin-top: 1%;
  height: 20px;
}

#message {
  font: inherit;
  height: 50px;
  margin-right: 324px !important;
}

.success {
  min-width: 300px;
}

#wrapper {
  position: relative;
  min-width: 100%;
  min-height:100%;
}

#content {
  float: left; 
  min-height:100%;
  min-width: 100%;
}

#footer {
  width:100%;
  height:70px;
  bottom:0px;
  left:0px;
  float: left;
  background-color: #5A0206;
}

.row {
  text-align: center;
  min-width: 90px;
}

#li {
  margin-left: 40%;
}

.message-card {
  height: 10px;
  min-width: 45px;
}

.teal-card {
  background-color: #64ffda !important;
  height: 10px;
  padding-top: 10px !important;
  min-width: 500px;
}

.main-message {
  margin: 0;
}

.card.small {
  height: 25px !important;
  width: 15%
}

.search-box .search-form {
  height: 20px;
}

.input-field {
  margin-left: 30%;
  margin-top: 50%;
  height: 20px;
}

.mdi-action-search{
  line-height: 2px;
}

.book-container {
  margin-top: 40px;
  margin-left: 75px;
  padding-right: 69px;
  height: 560px;
}

.book-add {
  width: 450px;
}

#home-content {
  background: linear-gradient(
     rgba(0, 0, 0, 0.6),
     rgba(0, 0, 0, 0.6)
     ),url('../images/book2.1.jpg') no-repeat center center fixed;
  background-size: cover;
  margin: 0 auto;
  width: 100vw;
  text-align: center;
  height: 550px;
  font-family: Raleway, sans-serif !important;
}

.flow-text {
  color: #fff;
  font-style: italic;
  padding-top: 12%;
  font-size: 30px !important;
}

.visit {
  width: 231px;
}

.add {
  position: fixed !important;
  margin-left: 90%;
  margin-top: 20px;
}

.add-form {
  width: 50% !important;
  margin-left: 25%;
}

.add-button {
  float: right;
}

.lend-button {
  float: right;
}

.cancel-edit {
}

.edit-button {
  float: right;
}

.del {
  color:red !important;
  margin-top: 43px;
  float: right;
  margin-right: 17px !important;
}

.del-modal {
    top: 10% !important;
}

.modal-content {
  margin-right: 150px !important;
}

.modal-header {
  color: rgb(90, 88, 88);
}

.side {
  margin-top: 30%;
  line-height: 50px
}

.add-book-card {
  width: 75%;
  margin-left: -40px !important;
}

.successes {
  margin-top: 10% !important;
  width: 50%;
  margin-left: 25% !important;
  height: 200px;
}

.view {
  position: relative;
  margin-left: 82%;
}

h4 {
  text-align: center;
  margin-left: 31% !important;
  line-height: 3rem !important;
}

.books {
  margin-top: 7%;
  max-height: 100%;
}

.book-detail-head {
  font-size: 6.2rem !important;
  line-height: 0 !important;
  margin: 0 0 0 0 !important;
}

.booklease-detail-head {
  font-size: 6.2rem !important;
  line-height: 0 !important;
  margin: 0 0 0 0 !important;
  padding-top: 23px;
  padding-bottom: 70px;
}

.book-detail {
  margin-left: 25% !important;
  line-height: 25px;
  padding-right: 150px !important;
  width: 60%;
}

.book-detail-title {
  color: #fff !important;
}

.detail-nav {
  background: #5A0206;
  height: 55px;
  width: 100%;
}

.back-to-list {
  margin-top: 43px !important;
  color: black !important;
  margin-right: 17px !important;
}

.page{
  float: right;
}

.book-detail-card {
  margin-top: 25px !important;
}

h1 {
  text-align: center;
  margin-left: 100px !important;
}

.card-title {
  font-weight: 300 !important;
  font-size: 25px !important;
}

.booklease-card-title {
  font-weight: 400 !important;
  font-size: 35px !important;
  color: black !important;
  margin-left: 119px;
}

p {
  padding: 5px;
}

.links {
  margin-left: 45px;
  text-align: center;
  width: 500px;
}

.book-action {
  margin: 0 !important;
  color: black !important;
}

.card-content {
  margin-right: 150px;
}

.borrow {
  margin-right: 4px;
  float: right;
  margin-top: 26px;
}

#add-button {
  height: 50px;
}

.feedback {
  width: 56%;
  margin-left: 22% !important;
  margin-top: 12% !important;
}

.errorlist {
    color: rgb(195, 13, 13);
    font-size: smaller;
}

select { 
  display: block; 
}

.modal-lend_content {
  margin-bottom: 150px !important;
}

.footer-text {
  margin: 0;
  color: #fff;
}

.footer-container {
  text-align: center;
  margin-top: 25px;
  position: absolute;
  margin-left: 40%;
}

.book-name {
  color: black;
}

.btn-flat:hover {
  background-color: rgba(158,158,158,0.2);
}

.complete-due { 
  width: 50px;
  height: 20px;
  background: red;
  border-radius: 100px / 50px;
}

.complete-about { 
  width: 50px;
  height: 20px;
  background: yellow;
  border-radius: 100px / 50px;
}

.chosen-select {
   -webkit-appearance: menulist-button;
   height: 50px;
}

.show_more {
  width: 100%;
}

.lease-pagination {
    background: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
}

.endless_page_link, .endless_page_current {
    height: 20px;
    display: inline-block;
    padding: 0px 9px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
}

.endless_page_link:hover, .endless_page_current:hover {
    background: #fefefe;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
    background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);
}

.endless_page_current {
  border: none;
  background: #616161;
  box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
  color: #f0f0f0;
  text-shadow: 0px 0px 3px rgba(0,0,0, .5);
}

.error-card {
  width: 69%;
  margin-left: 15% !important;
  margin-top: 3% !important;
}

.user-login a {
  margin: 20px;
  color: #D6090E !important;
  text-transform: uppercase; !important;
}

.back-link {
  float: right;
}

.visited {
  margin-left: 19px;
}

.visit:hover {
    text-decoration: underline;
}

